<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="600">
    <title>Title</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>




        <script>
            $("#submitPay").on('click',function() {


                const orderId = $("#order_id").val();

                let json = JSON.stringify(orderId);
                const request = $.ajax({
                    type: "POST",
                    url: "/client/payment",
                    dataType: 'json',
                    data: {
                        order_id: json

                    },
                    success: function (response) {
                        alert(response.status);
                    },
                    error: function () {
                        alert("error");
                    },
                });
            })
</script>



</head>
<body>
<div class="container"  th:action="@{/client/payment}" method="post">
    <div class="row">
        <div class="col-sm-6">
            <div class="alert alert-info" role="alert">
                <p>Maktab Payment</p>
               
                <p id="order" th:utext="'price ' + ${orderPrice} " ></p>

            </div>
            <hr/>

            <div class="form-group">
                <label class="control-label" for="card_number">Card Number</label>

                <div class="controls">
                    <input type="text" maxlength="16"  pattern="[0-9]{16}" id="card_number" name="card_number"
                           class="form-control">
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <label class="control-label" for="expiry_month">Expire Date</label>

                <div class="row">
                    <div class="col-sm-4">
                        <select class="form-control" name="expiry_month" id="expiry_month">
                            <option>----</option>
                            <option value="01">Jan (01)</option>
                            <option value="02">Feb (02)</option>
                            <option value="03">Mar (03)</option>
                            <option value="04">Apr (04)</option>
                            <option value="05">May (05)</option>
                            <option value="06">June (06)</option>
                            <option value="07">July (07)</option>
                            <option value="08">Aug (08)</option>
                            <option value="09">Sep (09)</option>
                            <option value="10">Oct (10)</option>
                            <option value="11">Nov (11)</option>
                            <option value="12">Dec (12)</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" name="expiry_year">

                            <option value="22">2022</option>
                            <option value="23">2023</option>
                            <option value="24">2024</option>
                            <option value="25">2025</option>
                            <option value="26">2026</option>
                            <option value="27">2027</option>
                            <option value="28">2028</option>
                        </select>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label" for="password_confirm">Card CVV</label>


                        <input type="password" maxlength="5" minlength="3" id="password_confirm"
                               name="password_confirm" placeholder=""
                               class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label" for="password_confirm">encrypt</label>


                        <input type="password" maxlength="8" minlength="3" id="encrypt_confirm"
                               name="password_confirm" placeholder=""
                               class="form-control">
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label" for="order_id">number</label>


                        <input type="password" maxlength="4"  id="order_id"
                              placeholder="order_id"
                               class="form-control">
                    </div>
                </div>
            </div>
            <div class="g-recaptcha" align="center" data-sitekey="6Lf53N4jAAAAAOkR31rbNhmhgeHplvo_Q2yidvUa"></div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <button id="submitPay" type="submit" value="submit" class="btn btn-success">Pay Now</button>
                    </div>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-5">
                </div>
            </div>

        </div>

    </div>

</div>
</body>